#!/usr/bin/env bash
export OS_USERNAME=admin
export OS_PASSWORD={{ADMIN_PASS}}
export OS_TENANT_NAME=admin
export OS_AUTH_URL=http://controller:35357/v2.0

keystone user-create --name=nova --pass={{NOVA_PASS}} --email={{NOVA_EMAIL}}
keystone user-role-add --user=nova --tenant=service --role=admin
keystone service-create --name=nova --type=compute \
  --description="OpenStack Compute"
keystone endpoint-create \
  --service-id=$(keystone service-list | awk '/ compute / {print $2}') \
  --publicurl=http://controller:8774/v2/%\(tenant_id\)s \
  --internalurl=http://controller:8774/v2/%\(tenant_id\)s \
  --adminurl=http://controller:8774/v2/%\(tenant_id\)s
